doctype html
html
  head(lang="en")
    title File is saved
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    link(rel="stylesheet", href="/css/semantic.min.css", type="text/css")
    link(rel="stylesheet", href="/css/website.css", type="text/css")
  body
    .container
      .content
        .ui.segment
          a(href=id).ui.button View File
        

    script(type="text/javascript", src="/js/jquery.js")
    script(type="text/javascript", src="/js/semantic.min.js")